<mat-sidenav-container class="app-container">

  <mat-sidenav class="app-sidenav mat-elevation-z8" mode="side" opened>
    <app-search-options></app-search-options>
  </mat-sidenav>

  <mat-sidenav-content class="app-content">
    <mat-toolbar color="primary" class="toolbar">
      <span>Drive Time Area</span>
      <span class="title-spacer"></span>
      <button mat-button (click)="onClear()">
        <mat-icon>delete</mat-icon>
      </button>
    </mat-toolbar>
    <app-esri-map class="map-container"></app-esri-map>
  </mat-sidenav-content>

</mat-sidenav-container>
