<mat-card class="settings-card mat-elevation-z5">
  <mat-card-header>
    <div mat-card-avatar><mat-icon>search</mat-icon></div>
    <mat-card-title>
      Enter Search Options
    </mat-card-title>
  </mat-card-header>
  <mat-card-content class="settings-card-content">
    <mat-radio-group aria-label="Select an option" class="settings-profile">
      <mat-radio-button class="profile-item" value="driving-car" checked>Drive Time</mat-radio-button>
      <mat-radio-button class="profile-item" value="cycling-road">Cycle Time</mat-radio-button>
    </mat-radio-group>
    <mat-form-field appearance="outline">
      <mat-label>Site Lat/Long</mat-label>
      <input matInput>
    </mat-form-field>
    <mat-slider min="0" max="60" [thumbLabel]="true"></mat-slider>
  </mat-card-content>
  <mat-card-actions class="settings-card-actions">
    <button mat-raised-button color="primary" (click)="getResults()" [disabled]="routeIsLoading$ | async">Get Results</button>
  </mat-card-actions>
</mat-card>
