.settings-card {
  margin: 10px;
}

.settings-card-content {
  display: flex;
  flex-direction: column;
}

.settings-profile {
  display: flex;
  flex-direction: column;
}

.profile-item {
  margin: 5px;
}

.settings-card-actions {
  display: flex;
  flex-direction: row-reverse;
}
